# STM32CubeIDE
**/Debug/
**/Release/
**/*.elf
**/*.map
**/*.list
**/*.o
**/*.d
**/*.a
**/*.su
**/*.hex
**/*.bin
**/startup/*.o
db_data/
# CubeMX metadata
*.mxproject

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

training/processed_data.npz